*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
    
}
.blue{
    color:#acdce7
}

/* Header section */
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 0px 30px ;
    height: 5rem;
    width: 100%;
    background-color: #fff;
    border-bottom: black 0.5px solid;
    
    
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 300;
}
a:hover{
    color: blue;
}

/* Hero section */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/6765167/pexels-photo-6765167.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    height: 90vh;
    text-align: center;
}
.hero-content{
    color: #fff;
    font-size: 50px;
    margin-top: 100px;
}
.big{
    font-size: 65px;
}

/* About section */
.about{
    padding-top: 100px;
    margin: 50px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}
.btn{
    margin: auto;
    margin-top: 30px;
    width: 200px;
    background-color: black;

    padding: 15px 30px;
}
.btn > a{
    text-decoration: none;
    color: #fff;
}

/* Services section */
.services{
    padding-top: 100px;
    text-align: center;
}
.service-container{
    padding-top: -100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 90px;
}
.services-img{
    width: 200px;
}
.box{
    text-align: center;
    max-width: 400px;
}

/* Contact */
.contact{
    padding-top: 100px;
    text-align: center;
}
.contact-input{
    padding-top: 40px;
}
.input-small{
    width: 300px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
}
.input-big{
    width: 650px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
}
.footer{
    text-align: center;
    padding: 100px 70px 60px 70px;
}

/* Responsiveness */
@media only screen and (max-width: 534px) {
    header{
        padding: 0px 5px ;
        height: 3rem;
    }
    header > h2{
        font-size: 12px;
    }
    header ul{
        margin-right: 5px;
    }
    header ul li a{
        margin: 0 5px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .hero{
        height: 80vh;
    }
    .hero-content{
        color: #fff;
        font-size: 25px;
    }
    .big{
        font-size: 32.5px;
    }
    .about{
        padding-top: 70px;
    }
    .about > p{
        padding-top: 20px;
    }
    .service-container{
        padding-top: 40px;
        flex-direction: column;
    }
    .box{
        padding-bottom: 30px;
    }
    .input-big{
        width: 300px;
        height: 100px;
        text-align: center;
        margin-top: 30px;   
    }
}





    
